* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    color: #183153;
}

h2 {
    text-align: center;
}

header {
    width: 100%;
    height: 50px;
    background-color: #333;
    position: fixed;
    top: 0;
}

main {
    padding-top: 55px;
}


nav {
    width: 60%;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav > ul > li {
    color: white;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

section {
    margin-bottom: 55px;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0px;
    padding-top: 60px;
}

.container > ol {
    max-width: 400px;
    margin: 0 auto;
    height: auto;
}

span {
    color: blue;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: thin solid black;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 22px;
    }
}